.wrapper
{

    background:rgba(99, 143, 17, 0.527);
}
h1 {
    text-align:center;
    background: chocolate;

}
ul{
    text-align:center;
}
li{
    display:inline-block;
}

.block{
    display:inline-block;
}
